@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
}
.container{
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgba(207, 207, 207, 0.389);
    box-shadow: 0 0 .9rem rgb(149, 149, 149);
    border-radius: 30px;
}
h1{
    font-weight: 600;
    letter-spacing: .5rem;
    color: #000000;
    margin-top: 2rem;
}
p{
    width: 90%;
    padding: 2rem;
    font-weight: 300;
    line-height: 2rem;
    color: #000000;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    color: #fff;
    font-size: 1.3rem;
    background-image: linear-gradient(to right bottom, rgb(135, 0, 0) 30%, rgb(251, 108, 56) 70%);
    box-shadow: .1rem .2rem .2rem black;
    transition: all .4s;
}

.btn:hover:not(#no){
    color: #fff;
    background-image: linear-gradient(to right bottom, rgb(251, 108, 56) 30%, rgb(135, 0, 0) 70%);
}

.btn:active{
    box-shadow: .1rem .1rem .1rem black;
    transform: scale(.9);

}
a{
    text-decoration: none;
}
#yes{
    margin-bottom: 1rem;
    cursor: pointer;

}
#no{
    position: absolute;
    bottom: 200px;
}

@media only screen and (max-width:500px){
    body{
        padding: .2rem;

    }
    .container{
        width: 100%;
        height: auto;
        margin: 1rem .8rem;
        border-radius: 0;
    }
    h1{
        font-weight: 400;
        letter-spacing: 0;
        margin: 1rem 0;
    }
    p{
        width: 100%;
        font-size: 1rem;
        font-weight: 100;
        line-height: 1rem;
        padding: 0;
    }
    .btn{
        margin: 1rem 0;
        padding: .5rem 1rem;
        font-weight: 400;
        font-size: 1rem;
    }
    #no{
        position: absolute;
        bottom: 10px;
    }
}